{% load static %}
<! DOCTYPE html>
<html>
   <head>
      <meta charset=" =utf-8">
      {% block title %}<title>Bimbo Family Affairs</title>{% endblock %}
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta property="og:title" content="Bimbo Family Affairs" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://www.bimbofamilyaffairs.com" />
      <meta property="og:site_name" content="Bimbo Family Affair" />
      <meta name="robots" content="Index, Follow">
      <meta name="description" content="Good given and I thank Adediji and Gbenga for helping me out with this." />
      <meta name="keywords" content="Motivation, Public Speaking, Motivational Speaker, Catalyst, Mentorship, Life Coach"/>
      <meta name="author" content="Magic Fingers" />


      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


      <!CSS Links >
   <!--    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
      <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" /> -->
     <!CSS BOOSTRAP>
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.min.css' %}" media="screen" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.min.css' %}" media="screen" />
      <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css.map" media="screen" /> -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.min.css' %}" media="screen" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" media="screen" />
      <!Javascript Links>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
      <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
     <!--  <script type="text/javascript" src="js/bootstrap.bundle.min.js.map"></script> -->
<!--       <script type="text/javascript" src="js/bootstrap.bundle.min.js.map"></script> -->
      <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!--         <script type="text/javascript" src="js/bootstrap.min.js,map"></script> -->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
 <!--      <script src="responsiveslides.min.js"></script> -->
   </head>
   <body>
       
<div class="nav">
    <div class="nav-header">
        <div class="nav-title">
          <img src="{% static 'images/Bimbo%20Family%20affairs%20Logo%20main%20(3).png' %} " alt="Logo" style="width:40px;">
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
    </div>

  <input type="checkbox" id="nav-check">
  <div class=" right nav-links ">
      <a href="#" target="_blank">Home</a>
      <a href="#" target="_blank">About us</a>
      <a href="#" target="_blank">Connect</a>
      <a href="https://www.bimbofamilyaffairs.wordpress.com" target="_blank">Blog</a>
      <a href="#" target="_blank">Media</a>
  </div>
</div><!-- End class nav-->


<div class="NavAfter"></div> <!--Just for the Grey Colour-->
           

<div class="row">
      <div class=" col-sm-4  boxshape">
          <div class="foo1 thumbnail ">
            <a class="twitter-timeline" data-height="120" data-dnt="true" href="https://twitter.com/einstein4ij?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-dnt="true" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              
              <a href="https://twitter.com/einstein4ij?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @einstein4ij</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<!--            <img src="{% static 'images/Blog.jpg' %}" class=" img-responsive" alt="Media" style="width:100% ">-->
              
              
                              <!--Instagram--->
                 <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/969046e8c82a5161bea18f3a5989bf92.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
              
                                  <!--Facebook-->
                                  <!-- InstaWidget -->
                    <!-- InstaWidget -->
                    <a href="https://instawidget.net/v/user/einstein4ij" id="link-be30327cf4a4e5a84083b1c8b50e33fb181c76eb0b7923d293392d1b0ddfef25">@einstein4ij</a>
                    <script src="https://instawidget.net/js/instawidget.js?u=be30327cf4a4e5a84083b1c8b50e33fb181c76eb0b7923d293392d1b0ddfef25&width=300px"></script>
              
          </div>
    </div>
    


   



      
    <div class=" col-sm-12">
       <img src="{% static 'images/bottonlast1.png' %}" class=" img-responsive">
    </div>
   

 </div>
 </body>


</html>